[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
currencyconverter = "==0.17.17"
python-telegram-bot = "==20.8"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.1"
